@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "videos";
@import "activities";

.bgc {
  background-color: #F4F5F7;
}

.font {
  font-family: "M PLUS Rounded 1c";
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
