/* カテゴリー選択画面の背景画像の読み込み */
.stretch-bg {
  background: url("/images/video_category/stretch.jpg") no-repeat 0 0;
  background-size: 100%;
}

.yoga-bg {
  background: url("/images/video_category/yoga.jpg") no-repeat 0 0;
  background-size: 100%;
}

.weight-training-bg {
  background: url("/images/video_category/weight_training.jpg") no-repeat 0 0;
  background-size: 100%;
}

.dance-bg {
  background: url("/images/video_category/dance.jpg") no-repeat 0 0;
  background-size: 100%;
}
