script async="" src="https://www.googletagmanager.com/gtag/js?id=G-B0BNK950CP"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B0BNK950CP');
